Header set Access-Control-Allow-Origin "*"
AuthName "Reserve aux utilisateurs de MaxiPerf"
AuthType Basic

AuthUserFile "/var/www/vhosts/bitwin.nc/maxiperf.bitwin.nc/.htpasswd"
Require valid-user
#Options +FollowSymlinks
Options -Multiviews

RewriteEngine On
#RewriteCond %{HTTPS} !on [OR]
#RewriteCond %{HTTP_HOST} ^www\. [NC]
#RewriteRule ^ https://maxiperf.bitwin.nc%{REQUEST_URI} [R=301,L]
#RewriteCond %{HTTPS} on
RewriteCond %{HTTPS} !on [OR]
RewriteCond %{HTTP_HOST} ^www\. [NC]
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
RewriteBase /

RewriteRule ^$ accueil [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^([a-zA-Z0-9\-]+)$ index.php?section=$1 [L,QSA]
RewriteRule ^([a-zA-Z0-9\-]+)/([a-zA-Z0-9\-]+)$ index.php?section=$1&cat=$2 [L,QSA]
RewriteRule ^([a-zA-Z0-9\-]+)/([a-zA-Z0-9\-]+)/([a-zA-Z0-9\-]+)$ index.php?section=$1&cat=$2&souscat=$3 [L,QSA]
RewriteRule ^([a-zA-Z0-9\-]+)/([a-zA-Z0-9\-]+)/([a-zA-Z0-9\-]+)/([a-zA-Z0-9\-]+)$ index.php?section=$1&cat=$2&souscat=$3&soussouscat=$4 [L,QSA]
RewriteRule ^([a-zA-Z0-9\-]+)/([a-zA-Z0-9\-]+)/([a-zA-Z0-9\-]+)/([a-zA-Z0-9\-]+)/([a-zA-Z0-9\-]+)$ index.php?section=$1&cat=$2&souscat=$3&soussouscat=$4&soussoussouscat=$5 [L,QSA]
RewriteRule ^([a-zA-Z0-9\-]+)/([a-zA-Z0-9\-]+)/([a-zA-Z0-9\-]+)/([a-zA-Z0-9\-]+)/([a-zA-Z0-9\-]+)/([a-zA-Z0-9\-]+)$ index.php?section=$1&cat=$2&souscat=$3&soussouscat=$4&soussoussouscat=$5&cat5=$6 [L,QSA]
RewriteRule ^([a-zA-Z0-9\-]+)/([a-zA-Z0-9\-]+)/([a-zA-Z0-9\-]+)/([a-zA-Z0-9\-]+)/([a-zA-Z0-9\-]+)/([a-zA-Z0-9\-]+)/([a-zA-Z0-9\-]+)$ index.php?section=$1&cat=$2&souscat=$3&soussouscat=$4&soussoussouscat=$5&cat5=$6&cat6=$7 [L,QSA]
